target
**/node_modules/
.npm-cache/
**/.idea/
**/.vscode/
/im.cert
/workspace/
**/*.xtendbin
**/.temp-*
**/*._trace
**/*.puml
.mvn/wrapper/maven-wrapper.jar
**/*.run.xml
.classpath
.project
.settings
/support/klab.support.graphdb/var/
